* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header input {
  width: 60%;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}

.dashboard-header button {
  padding: 10px 5px;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #3c6579;
}

.dashboard-table {
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.dashboard-table td,
.dashboard-table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.dashboard-table button {
  padding: 5px;
  background-color: #3c6579;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  overflow-y: scroll;
}

.modal h1 {
  font-size: 20px;
  text-align: center;
}

.inside-modal {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.inside-modal button {
  width: 150px;
  padding: 10px 5px;
  background-color: #3c6579;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.modal-form {
  text-align: center;
}

.modal-form .field {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.modal-form .field label {
  margin-right: 20px;
}

.modal-form .field input,
.modal-form .field textarea,
.modal-form .field select {
  padding: 3px;
  flex-grow: 2;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
